.pokemon {
  .content {
    padding: 1rem;
    width: 100%;
    max-width: 500px;

    .back-btn {
      @include glass;
      padding: 0.2rem 1.4rem;
      color: $clr-white;
      font-weight: bold;
      font-size: 1.1rem;
      letter-spacing: 1px;
      &:hover {
        transform: scale(1.03);
      }
    }
    .data {
      border: 1px solid red;
      padding: 1rem 0rem;
      &-left {
        img {
          object-fit: fill;
          width: 200px;
          margin: 0 auto;
        }
      }

      &-right {
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1px;

        p {
          line-height: 1.2;
          margin: 0 !important;
        }
      }
    }
  }
}
